html{
    background-color: lightblue;
    
}

.container{
    text-align: center;
    justify-content: center;
    padding-bottom: 100px;
}

h1{
    font-family: lobster;
    font-style: normal;
    font-size: 700%;
    font-weight: 700;
    color:rgb(37, 104, 94);
    margin-bottom: 0;
    margin-top: 0;
}

.dice{
    display: inline-block;
    margin-top: 20px;
    font-family:'Lobster';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 0px 40px;
}

footer{
    padding-top: 100px;
    font-family:'Lucida Sans';
    text-align: center;
    color: rgb(10, 33, 30);
}
